<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
    
  <servlet>
    <servlet-name>usuarioServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.UsuarioServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clienteServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.ClienteServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productoServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.ProductoServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>proveedorServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.ProveedorServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rolServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.RolServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cajaServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.CajaServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>compraServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.CompraServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>facturaServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.FacturaServiceImpl</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>cobranzaServlet</servlet-name>
    <servlet-class>py.progweb.fpuna.server.CobranzaServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>usuarioServlet</servlet-name>
    <url-pattern>/sgc_capa_web/usuarioService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clienteServlet</servlet-name>
    <url-pattern>/sgc_capa_web/clienteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productoServlet</servlet-name>
    <url-pattern>/sgc_capa_web/productoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>proveedorServlet</servlet-name>
    <url-pattern>/sgc_capa_web/proveedorService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rolServlet</servlet-name>
    <url-pattern>/sgc_capa_web/rolService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cajaServlet</servlet-name>
    <url-pattern>/sgc_capa_web/cajaService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>compraServlet</servlet-name>
    <url-pattern>/sgc_capa_web/compraService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>facturaServlet</servlet-name>
    <url-pattern>/sgc_capa_web/facturaService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>cobranzaServlet</servlet-name>
    <url-pattern>/sgc_capa_web/cobranzaService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Sgc_capa_web.html</welcome-file>
  </welcome-file-list>

</web-app>
